<!-- 
<div>
  <h1 style="text-align:center;">NEW MEK</h1>
</div>
<div style="text-align:center;" *ngIf="show">


    <label>NAME:</label>
    <input type="text" [(ngModel)]="name"><br><br>
    
     <label>ADDRESS:</label>
    <input type="text" [(ngModel)]="address"><br><br>
    <label>PHONENO:</label>
    <input type="text"  [(ngModel)]="phone"><br><br>
    <label>Alterpho:</label>
    <input type="text"  [(ngModel)]="alterpho"><br><br>
    <button type="submit" (click)="onclic()">submit</button>
    </div>
    <div style="text-align:center;" *ngIf="hide">
        <p>NAME:{{name}}</p>
      <p>ADDRESS:{{address}}</p>
      <p>PHONENO:{{phone}}</p>
      <p>ALTERNO:{{alterpho}}</p> -->
        <!-- <table>
          <td>NAME:{{name}}</td>
          <td>ADDRESS:{{address}}</td>
          <td>PHONENO:{{phone}}</td>
          <td>ALTERNO:{{alterpho}}</td>
          <td><button (click)="edit()">edit</button></td>
           <td><button (click)="delete()">delete</button></td> 
           <td><button (click)="update()">update</button></td> 
        </table> -->


    <!-- </div> 

 
      <table>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>email</th>
          <th></th>
        </tr>
        <tr *ngFor="let item of items; let i = index;">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td> <button (click) = "delete1(i)">delete</button></td>
        </tr>
      </table>   -->

       <!-- <form class="example-form">
        <mat-form-field >
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="" value="Sushi">
        </mat-form-field><br>
      
        <mat-form-field >
          <mat-label>Leave a comment</mat-label>
          <textarea matInput placeholder=""></textarea>
        </mat-form-field>
      </form> -->
      <router-outlet></router-outlet> 
      
      
    